extends layout

block content
  .container
    table.table
      thead
        tr
          th#inclusions INCLUSIONS
          th.text-center ThePLAN 599
          th.text-center ThePLAN 799
          th.text-center ThePLAN 999
          th.text-center ThePLAN 1299
      tbody
        tr
          th(scope='row') Monthly Data
          td 4GB Mobile Internet
          td 6GB Mobile Internet
          td 5GB Mobile Internet
          td 12GB Mobile Internet
        tr
          th(scope='row') Additional App Data
          td Free Facebook (1GB allocation for 24 months)
          td Free Facebook (1GB allocation for 24 months)
          td Free Facebook (1GB allocation for 24 months)
          td Free Facebook (1GB allocation for 24 months)
        tr
          th(scope='row') Call and Texts
          td
            p 100 Min. Calls to Globe/TM
            p 100 All-Net Text
          td
            p Unli Calls to Globe/TM
            p Unli All-Net Text
          td
            p Unli Calls and Texts to Globe/TM
          td
            p Unli Calls to Globe/TM
            p Unli All-Net Text
        tr
          th(scope='row') Content Access
          td N/A
          td N/A
          td 10BG GoWatch for  YouTube, Netflix, Tribe, HOOQ, Cartoon Network, Disney
          td Netflix Access (6 months)
        tr
          th(scope='row') Shipping
          td 
            p Free SIM Card Shipping
            button.btn.btn-warning(type='button') Get SIM-Only Plan
            br
            p-light Compare with 599 w/ device
          td
            p Free SIM Card Shipping
            button.btn.btn-warning(type='button') Get SIM-Only Plan
            br
            p-light Compare with 799 w/ device
          td
            p Free SIM Card Shipping
            button.btn.btn-warning(type='button') Get SIM-Only Plan
            br
            p-light Compare with 999 w/ device
          td
            p Free SIM Card Shipping
            button.btn.btn-warning(type='button') Get SIM-Only Plan
            br
            p-light Compare with 1299 w/ device

